


body {
	background-image: url(images/grey_wash_wall_@2X.png);               
	margin: 0px;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	height: 100%;
	/*width: 100%;*/
}

#container {
	width: 960px;
	/*height: 1200px;*/
	border-color:  #dddddd;
	border-style: solid;
	border-width: 5px;
	margin: auto;
}

h2{
	color: #800020;

}

p{

width: 50px
height 50px;
float: right;
}



header {
	position: absolute;
	background: #dddddd;
	width: 100% height: 140px;
	border-color: #dddddd;
	border-width: 5px;
	border-style: solid;
	width: 100%;
	
}

#headername{
	background-color: #800020;
	width: 180px;
	color: white;
	margin-left: 100px;
	text-align: center;
	position: relative;
	top: 41px;
	margin-bottom: 16px;
	margin-top: 35px;
	top: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#sectionbox {
	
	width: 650px;
	height: 450px;
	background-color: white;
	margin-left: 50px;
	margin-top: 230px;
	float: left;
	border-color:  #dddddd;
	border-style: solid;
	border-width: 5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#asidebox {
	height: 300px;
	width: 275px;
	background-color: white;
	text-align: center;
	float: right;
	margin-top: 230px;
	margin-left: 770px;
	clear: both;
	position: absolute;
	
	color: #800020;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{

	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #800020;
	border-bottom: 3px solid #dddddd;
	padding-bottom: 20px;
	text-align: center;

}


#list {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #800020;
	margin-left: 1200px;
	display: block-inline;
}


#aboutme {
	float: right;
	margin-right: 160px;
	color: #800020;
}


#socialicon img { 
	height: 70px; 
	width: 70px; 
	margin-top: 100px;
	
}

footer
{
	margin-top: 900px;
	text-align: center;
	position: absolute;
	background: #dddddd;
	width: 100% height: 140px;
	border-color: #dddddd;
	border-width: 5px;
	border-style: solid;
	width: 100%;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #800020;

}


@media screen and (max-width: 980px)
{

	
.wrapper {
	width:  100%px;
	padding: 20px;

}


#asidebox {
	width:  100%;

}
#asidebox{
	margin-top: 40px;

}

}

