body {
	background-image: url("grey_wash_wall.png");               
	margin: 0px;
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	height: 100%;
	width: 100%;
	}



#container {
	width: 960px;
	border-color:  #dddddd;
	border-style: solid;
	border-width: 5px;
	
}


header {
	position: absolute;
    background: #ffffff;
    width: 100% height: 140px;
    border-color: #dddddd;
    border-width: 5px;
    border-style: solid;
    width: 100%;
	
	}

#headername{
	background-color: #4aaaa5;
    width: 180px;
    color: white;
    margin-left: 100px;
    height: 119px;
    bottom: 180px;
    text-align: center;
 	margin-top: 0px;
}

#sectionbox {
	
    width: 650px;
    height: 450px;
    background-color: white;
    margin-left: 50px;
    margin-top: 250px;
    float: left;
    top-border-padding: 50px;
	
}

#asidebox {
	height: 300px;
    width: 250px;
    background-color: white;
	 text-align: center;
    /*float: right;*/
    margin-top: 230px;
    margin-left: 770px;
    clear: both;
   	
    border-color:  #dddddd;
	border-style: solid;
	border-width: 5px;
	border-bottom: 3px solid #dddddd;
	padding-bottom: 3px;
	
	
    }

  h2{

    font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border-bottom: 3px solid #dddddd;
	padding-bottom: 20px;
	text-align: center;

}


#aboutme {
	float: right;
	margin-right: 160px;
	color: #dddddd;
	width: 50px
	height 20px;
	}

#paragraph {
	display: block;
	padding-top: 120px;
	display:  block;
}


#socialicon
	img { 
			height: 20px; 
			width: 20px; 
		padding-top: 55px;
}

#footer
	{
	margin-top: 900px;														
	text-align: center;
	float: left;
    background: #fff;
    width: 100% height: 140px;
    border-color: #dddddd;
    border-width: 5px;
    border-style: solid;
    width: 100%;
	
	}

@media screen and (max-width: 980px)
{

.wrapper {
	background: black;
	clear:both;
	width:  980px;
	padding: 20px;

}

#sectionbox, #asidebox {
		background: black;

	clear:both;
	width:  100%;

}
#asidebox{
	clear:both;
	margin-top: 40px;
}
      				
 
}    													